<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body class="bg-gradient-mybank" id="bodyClass">
  <nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
  
      <a class="navbar-brand">
        <img src="/assets/icrypto-logo-white.png" style="width: 100px !important" alt="iCrypto">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
              aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <form class="form-inline nav-link">
              <i class="fa fa-globe"></i>
              <select (change)="selectChangeHandler($event)">
                <option *ngFor="let option of options" [value]="option">{{option}}</option>
             </select>
              
            </form>
          </li>
          <li class="nav-item">
            <a routerLink='/profile' class="nav-link" >
              <i class="fa fa-home"></i> {{ 'home' | translate }}
            </a>
          </li>
          
            <li *ngIf="data" class="nav-item">
              <a class="nav-link">
                <i class="fa fa-key"></i> {{ 'creds' | translate }}
              </a>
            </li>
            <div *ngIf="!data; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <li class="nav-item">
                  <a style="cursor: pointer;" class="nav-link"  >
                      <i class="fa fa-plug"></i> {{ 'nlogin' | translate }}
                  </a>
              </li>
            </ng-template>
             <ng-template #elseBlock>
              <li class="nav-item">
                  <a style="cursor: pointer;" (click)="gluuLogout()" class="nav-link"  >
                      <i class="fa fa-plug"></i> {{ 'nLogout' | translate }}
                  </a>
              </li>
             </ng-template>
          
          </ul>
      </div>
    </div>
    </nav>
    <router-outlet></router-outlet>                 
</body>